{% extends "layout.njk" %}

{% block conteudo %}

  <div id="wrapper">
    <h1>Aulas</h1>
    
  </div>

  <section class="cards">
    {% for dadoVideo in dados%}
    <div class="card"id="{{dadoVideo.id}}">
      <div class="cards_image-container">
        <img src="https://img.youtube.com/vi/{{dadoVideo.id}}/maxresdefault.jpg" alt="vídeo aula de {{dadoVideo.title}}">
      </div>
      <div class="card_content">
        <p>{{dadoVideo.title}}</p>
      </div>
      <div class="card_info">
        <p>{{dadoVideo.duration}} </p>
        <p class="card_price">{{dadoVideo.price}}</p>
      </div>
    </div>
    {% endfor %}
    
    
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>

      <div class="model-content">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>

<script src="scripts.js"></script>
{% endblock %}
