<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>fabio abrantes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <div class="links">
      <a href="/">Sobre</a>
      <a href="/classes">Aulas</a>
    </div>
  </header>

  {% block conteudo%} {% endblock %}

</body>
</html> 